<p id="notice"><%= notice %></p>

<h1>Current Blog Posts</h1>

<div class="container-fluid">
  <div class="row">
    <% @posts.each do |post| %>
    <%= render 'show_post', :post => post %>
  <% end %>
  <%= paginate @posts %>
  </div>
</div>

<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
