<p id="notice"><%= notice %></p>


<%= render 'show_post', :post => @post %>
<div class="container">
	<div class="well">
		<%= render 'comments/form', comment: @comment %>	
	</div>
	<% @post.comments.each do |comment| %>
		<%= render 'show_comment', comment: comment %>
	<% end %>
</div>